
$container-background: transparent;
$white: #eae3e3;
$background:#1a2c5b;
.mainWrapper {
  background: url('../assets/bitcoinWrap.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

}
.topWrapper {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
}

.bitcoin {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $white;
  position: relative;

  justify-content: flex-end;
  font-size: 4em;

  margin-top: 70px;
}

.bitcoin img {
  margin: 0 50px 0 0;
  position: relative;
  top:10px;
}

.bitcoin span {
  display: block;
  margin-right: 10px;
}

.teamInfo {
  display: flex;
  color: $white;
  font-weight: 500;
  flex-direction: row;
  justify-content: flex-end;
}

.teamInfo span {
  display: block;
  margin-right: 84px;
}

.cardInfo {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;

  margin-top: 50px;
}

.cardInfo div {
  margin: 0 20px 0 20px;
}
.cardInfo div img {
  margin-right: 10px;
}
.cardInfo span {
  color: $white;
  font-weight: 500;
  font-size: 1.5em;
}

.scoreBoard {
  width: 100%;
  height: 65%;

  padding: 40px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boardTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: $white;

  font-weight: 500;
}
.boardContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 6px;
  height: 30px;
  color: $white;

  &.select {
    background: rgba(#79b8d1,0.3);
  }
}

.boardContent div {
  width: 33%;
}

.battleWrapper {
  width: 100%;
  height: 55%;
  box-sizing: border-box;

  padding-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.underBar {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 85%;

  height: 60px;

  position: relative;
}

.underBar span {
  color:$white;
  font-weight: 500;
  width: 3em;
  font-size: 1.2em;
}

.underBar .select {
  width: 100px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(2% + 70px);
}

.submit {
  border-radius: 10px;
  height: 30px;
  width: 50px;
  border: $white 1px solid;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-weight: 500;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  
}

.infoBar {
  border-bottom: 1px rgba($white,.4) solid;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  justify-content: space-around;

  width: 80%;
  height: 20%;

  position: relative;

  padding-bottom: 20px;
  box-sizing: border-box;

}

.infoBar span {
  width: 4em;
  margin-left: 23px;

  font-size: 1.2em;
  font-weight: 500;
  color: $white;
}

.infoRank {
  font-size: 1.4em;
  color: #f5c16c !important;
}
.announcement{
  display: flex;
  flex-direction: row;
  justify-content: center;

  & span {
    color: #f5c16c;
    width: 100% !important;
    letter-spacing: 3px;
  }
}
  
.isSubmit span {
  color:$white;
  font-weight: 500;
  width: 6em;
  font-size: 1.2em;

  margin-top: 30px;

  letter-spacing: .2em;
}

.isSubmit .reChoose {
  border-radius: 10px;
  height: 30px;
  width: 100px;
  border: $white 1px solid;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-weight: 500;

  margin-top: 30px;
}

@media all and (max-height: 580px) {
  .teamInfo {
    margin-top: 10px;
  }
}